[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=DB_HOST=mysql.vakiti.online
Environment=DB_USER=shipping
Environment=DB_PASSWORD=RoboShop@1
Environment=DB_NAME=cities
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
